
.chatroom-back {
  background: $dark-gray;
  min-width: 100vw;
  min-height: 100vh;
  // justify-content: space-between;
}

.htwo {
  min-width: 100vw;
  margin-bottom: 0;
  position: fixed;
  color: $light-orange;
  font-family: $headers-font;
  font-weight: 900;
  font-size: 28px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  padding: 20px;
  background-color: $dark-gray;
  }

.chatroom-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;

  .messages {
    order: -1;
    height: 100%;
    overflow: scroll;
    padding: 20px;
    margin-bottom: 220px;
  }

  #new_message {
    border-top: 1px solid $violet;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .chat-title {
    margin-bottom: 100px;
  }

  .chat-form {
    position: fixed;
    bottom: 75px;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: $dark-gray;
    align-items: flex-end;

    .chat-btn {
      text-decoration: none;
      color: #ffffff;
      border: 3px solid $violet;
      background-color: $violet;
      padding: 0.375rem 0.75rem;
      border-radius: 50px;
      font-weight: medium;
      transition: opacity 0.3s ease;
      text-align: center;
      vertical-align: middle;
      z-index: 100;
      width: 20vw;
    }

    .chat-input-box {
      background-color: $light-gray;
      width: 90vw;
      color: $dark-gray;
      border: 1px solid $violet;
    }

    .chat-typing-box {
      width: 90vw;
      background-color: $dark-gray;
    }
  }
}
