
.chatroom {
  background: $dark-gray;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    min-width: 100vw;
    margin-bottom: 0;
    padding: 1rem;
    position: fixed;
    color: white;
    background-color: $violet;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .chat-btn {
    color: #ffffff;
    border: 3px solid #FF744A;
    background-color:  #FF744A;
    padding: 5px 27px;
    border-radius: 50px;
    font-weight: medium;
    transition: opacity 0.3s ease;
    text-align: center;
    vertical-align: middle;
    margin-top: 310px;
    margin-left: 35px;
    position: fixed;
    z-index: 100;
  }
}

.chat-title {
  margin-bottom: 100px;
}

.chatform {
  display: flex;
  justify-content: baseline;
}
