.dashboard-background {
background-color: #3E3E3E;
background: rgb(62,62,62);
background: radial-gradient(circle, rgba(62,62,62,1) 0%, rgba(0,0,0,1) 100%);
min-height: 100vh;
min-width: 100vw;
justify-content: center;
align-items: center;
color: #3E3E3E; /* Set text color to be visible against the background */

}

.not {
  color: #FF744A;
  border: 3px solid #FF744A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  text-align: center;
  vertical-align: middle;
  // position: fixed;
  width: 80%;
  margin-left: 35px;
  font-size: 15px;

}

.not-two {
  color: #FF744A;
  border: 3px solid #FF744A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  text-align: center;
  vertical-align: middle;
  // position: fixed;
  width: 80%;
  margin-top: 15px;
  margin-left: 35px;
  font-size: 15px;


}

body-all {
  font-family: $body-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

.my-bookings {
  color: #FF744A;
  padding: 30px;
}

.headline-my-events {
  margin-top: 100px;

}

.my-bookings {
  color: #FF744A;
  padding: 30px;
  padding-top: -50px;

  .flex-container {
    display: flex;
    justify-content: space-between;

}

  .flex-box-one {
    padding: 10px;
    margin: 10px;
}

  .flex-container-two {
    display: flex;
    flex-direction: column;
  }

  .date-time {
  color: #FF744A;
}

a {
  color: #ffffff;
}


.flex-container strong {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;

}

.flex-container p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;

}

.attendees {
  color: #9B47A9;
  font-size: 15px;

}

.btn-ghost-orange-chancel {
  color:#FF744A;
  border: 3px solid #FF744A;
  padding: 5px 27px;
  border-radius: 50px;
  font-weight: medium;
  transition: opacity 0.3s ease;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  z-index: 100;

}


}
