.event-background {
  background: rgb(155,71,169);
  // background: linear-gradient(0deg, rgba(155,71,169,1) 0%, rgba(255,116,74,1) 100%);
  min-height: 100%;
  width: 100%;
  height: auto;
  }

.event-card {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: 30px auto;

  width: 360px;
  height: 400px;
  padding: 20px;
}

.event-title {
  color: white;
  text-shadow: 1px 1px 1px black;

}

.event-infos {
  color:#FF744A;
  text-shadow: 1px 1px 1px black;
}

.body-all-venue {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.search_form {
  border-radius: 20px;
  margin: 30px auto;
  width: 360px;
  height: 400px;
  padding: 20px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
