.event-background {
  background: rgb(155,71,169);
  // background: linear-gradient(0deg, rgba(155,71,169,1) 0%, rgba(255,116,74,1) 100%);
  min-height: 100%;
  width: 100%;
  height: auto;
  }

.event-card {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: 20px auto;
  width: 300px;
  height: 360px;
  padding: 20px;
}

.event-title {
  color: white;

}

.event-infos {
  color:#FF744A;
}

.body-all-venue {
  color: white;
}
