.show-background {

  background: rgb(155,71,169);
  background: linear-gradient(0deg, rgba(155,71,169,1) 0%, rgba(255,116,74,1) 51%);
  background-color: $light-orange;
  padding-bottom: 20px;

  .image_container {
    position: relative;
    text-align: left;
    color: white;
    margin-bottom: 30px;

    .show_pic {
      display: block;
      width: 330px;
      // margin-left: auto;
      // margin-right: auto;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    .text_overlay {
      h1 {
        font-size: 50px;
        text-shadow: 0 0 5px $light-gray;
      }
      position: absolute;
      top: 10px;
      left: 30px;
      color: $violet;
      margin-left: 10px;

    }
  }

  .infos {
    margin: 20px;
    font-family: $body-font;

    .info_heading{
      color: $dark-gray;
      margin-top: 40px;
    }

    p {
      margin: 2px 0px;
      // text-align: justify;
      font-size: 14px;
    }

    .event_info {
      margin-bottom: 30px;
      color: $light-gray;
      margin-inline: 14px;

      .category_show_display {
        display: inline-block;
        font-size: 0.8rem;
        border-radius: 50rem;
        padding: 0.1rem 0.5rem;
        background-color: $violet;
        color: $light-gray;
        border: 1px solid $violet;
        margin-right: 0.6rem;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .attendees {
        color: $violet;
      }
    }

    .venue_info {
      margin-bottom: 30px;
      color: $light-gray;
      margin-inline: 14px;
    }

    .org_info {
      margin-bottom: 30px;
      color: $light-gray;
      margin-inline: 14px;
    }
  }

  .show-map {
    margin: 0 auto 30px auto;
    border-radius: 20px;
    overflow: hidden;
    width: 330px;
    height: auto;
  }

  .show-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
  }



  .show_buttons_attending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 0 30px;

    .btn-ghost-violet {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .btn-dashboard {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .btn-chat {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  .show-buttons-org {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 0 30px;

    .btn-ghost-violet {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .btn-edit {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    .btn-delete {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  .show_button_one {
    margin-left: 30px;
  }
}
