<div class="d-flex justify-content-center">
  <div style="width: 80%; height: 80vw;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
