
<div class= "my-bookings">
<% @bookings_as_attendee.each do |booking| %>
  <hr>
    <div class="flex-container">
        <div class="flex-box-one">
          <p><%= booking.event.venue_name %></p>
          <h3><%= link_to booking.event.title, event_path(booking.event) %></h3>
        <div class= "date-time">
          <p><strong><%=booking.event.date%></p>
          <%= link_to "Cancel", booking_path(booking.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?"}, class:"btn btn-ghost-orange-chancel" %>
        </div>
      </div>
      <hr>

</div>
  <% end %>
</div>
