
<div class= "my-bookings">
  <h1>...organizing:</h1>
  <% @events_as_org.each do |event| %>
  <hr>
    <div class="flex-container">
      <div class="flex-box-one">
        <p><%= event.venue_name %></p>
        <h3><%=link_to event.title, event_path(event)%></h3>
        <div class= "date-time">
          <p><strong><%=event.date%></p>
        </div>
      </div>
      <hr>
      <div class="attendees">
        <div class="flex-box-one"><i class="fa-regular fa-user"></i><h3><%= event.attendees %></h3></div>
      </div>
    </div>
  <% end %>
</div>
