<div class="my-bookings">
  <h1>...attending:</h1>
  <hr>
  <div class="no-events"><p>You don't have any upcoming events!</p></div>
  <%= link_to "Check out cool events near you", root_path, class:"btn btn-ghost-orange-more" %>
</div>
