.header-all {
  font-family: $headers-font;
  font-weight: 900;
}

.sub-header-all {
  font-family: $headers-font;
  font-weight: 700;
}

.body-all {
  font-family: $body-font;
  font-weight: 500;

}
