.header-all {
  font-family: $headers-font;
  font-weight: 900;
  font-size: 55px;
  margin: 35PX;
  position: fixed;
  z-index: 100;

}

.sub-header-all {
  font-family: $headers-font;
  font-weight: 700;
}

.body-all {
  font-family: $body-font;
  font-weight: 500;

}
