.header-all {
  font-family: $headers-font;
  font-weight: 900;
  font-size: 55px;
  padding: 35px;
  z-index: 100;
  line-height: 55px;
  color: #FF744A;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.header-index {
  font-family: $headers-font;
  font-weight: 900;
  font-size: 55px;
  padding: 35px;
  z-index: 100;
  line-height: 55px;
  color: #FF744A;
  text-shadow: 1px 1px 1px rgb(156, 156, 156);
}

.typed-cursor {
  color: transparent;
}

.h3 {
  font-family: $headers-font;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
}

.body-all {
  font-family: $body-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}
