.map-show {
  margin: 0 auto;
}

.mapboxgl-popup {
  max-width: 200px;
  padding: 8px
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 10px;
}

.mapbox-index-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
