.map-show {
  margin: 0 auto;
}

.mapboxgl-canvas-container {
  height: 400px;
}

.mapbox-canvas {
  height: 400px !important;
}

.mapboxgl-popup {
  max-width: 200px;
  padding: 8px
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  background-color: #ff744abf;
  font-size: 14px;
  color: $dark-gray;

  a {
    text-decoration: none;
    color: $violet;
  }
}

.mapbox-index-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.mapstyle {
  margin: 45px auto;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 360px;
  height: 400px;
  object-fit: cover;
  // padding: 20px;
}
