.navbar-lewagon {
    background-color: #000000;/* Adjust the alpha value for transparency */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  // opacity: 70;
}

.icon-button {
  justify-content: space-evenly;
  font-size: 30px;
  display: flex;
  gap: 40px;
  opacity: 70%;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: -5px;
  align-items: baseline;

  a {
    color: #FF744A ;
  }
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

}

.image-button img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
